#!/usr/bin/env bash

# Updates packages
alias update='sudo xbps-install -Su'

# Runs the interactive mode of these commands
alias cp='cp -i'
alias mv='mv -i'
alias killall='killall -i'

# Runs ripgrep with smart-casing by default
alias rg='rg -Suu'

alias internet='ping 8.8.8.8'

alias startw='. ~/.wayenv && sway 2>&1 | logger'

# Hack to make sudo !! work like it does in bash
alias sudo='sudo '
alias !!='$(fc -ln -1)'

# Always use human-readable output
alias dmesg='dmesg -H'

