# vi: ft=sh
# This file is sourced by .shrc

# Update packages
alias update='doas apk upgrade -Ui'

# Automatically create directory for cp SOURCE... DIRECTORY
cp() {
	for last; do :; done
	case "$last" in */) mkdir -p "$last" ;; esac
	command cp "$@"
}

alias sw='startw'
alias sx='startx'

alias :q='exit'
alias :wq='exit'
alias :e='${EDITOR:-vi} '
h() { { "$@" --help || "$@" -h ; } 2>&1 | less ; }
alias :h='h'
alias :help='h'

alias e='exec '

# Interactive mode
alias cp='cp -i'
alias mv='mv -i'

# Colors/human-readable
alias df='df -h'
alias du='du -h'
alias diff='diff --color=always'
alias ls='ls --color=always'
if ls --version 2>&1 | grep -q GNU; then
	alias dmesg='dmesg -H'
fi

alias net='ping 8.8.8.8'

alias todo='${EDITOR:-vi} ~/TODO'

alias bt='aria2c --conf-path="$HOME"/.aria2bittorrent'

# man-ly info (Also maybe consider info --vi-keys instead of this trick)
info() { env info --subnodes "$1" | ${PAGER:-less}; }

# The POSIX Programmer's Manual uses Unicode minus signs (U+2212)
# instead of the hyphen-minus (U+002D), which can make searching for
# options difficult.
man() { env man "$@" | sed s/−/-/g | ${MANPAGER:-${PAGER:-less}}; }

# brainless file search
search() { find "${2:-.}" -iname "*${1}*"; }

