**
!.sway
!.newsboat
!.config

!.config/alacritty
!.config/dunst
!.config/waybar
!.config/gtk-3.0

!.bash_profile
!.bashrc
!.gtkrc-2.0

!.sway/config
!.newsboat/config
!.config/alacritty/alacritty.yml
!.config/dunst/dunstrc
!.config/waybar/config
!.config/waybar/style.css
!.config/gtk-3.0/settings.ini

