**
!.bash_profile
!.bashrc
!.aliases
!.gtkrc-2.0
!.vimrc
!.dmenurc

!.sway/config
!.sway/status
!.w3m/config
!.w3m/keymap
!.newsboat/config
!.config/alacritty/alacritty.yml
!.config/dunst/dunstrc
!.config/waybar/config
!.config/waybar/style.css
!.config/gtk-3.0/settings.ini
!.config/mpv/mpv.conf
!.config/mpv/input.conf
!.config/kitty/kitty.conf
!.config/termite/config
!.config/sakura/sakura.conf
!.config/mako/config
